@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.center {
  text-align: center;
  margin-top: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
img {
  height: 150px;
  width: 300px;
}
.subhead{
  margin-left: 41px;
  margin-top: 15px;
}
#tableStyle{
  width: 94.5%;
  margin: auto;

}
.collegeName{
  margin-top: 20px !important;
}
.washim{
  margin-bottom: 35px;
  margin-top: 28px;
}
@media screen and (max-width: 600px) {
  body {
  padding: 0;
  max-width: fit-content;
}
.mainHeading {
  text-align: center;
  font-size: large;
  max-width: 100%;
  margin: 20px;
}
.bolder {
  font-weight:bold;
  font-size: large;
  text-align: center;
  margin: 20px;
}
.subhead {
  margin: 20px;
}
}
.bolder {
  font-weight: 500 !important;
  text-align: center;
}
.bold {
  font-weight: bold !important;
}
.flex {
  display: flex;
}
.apart {
  justify-content: space-between;
}